/* Code tidied up by ScrapBook */
#bundle-expert-container .modal-dialog { display: block; }
#bundle-expert-form-modal .modal-dialog { width: 100%; height: 100%; margin: 0px auto; padding: 20px 4px; max-height: 820px; }
.modal-bundle-expert .modal-header { border-bottom: inherit; }
#bundle-expert-form-modal .modal-content { height: 100%; min-height: 100%; border-radius: 0px; overflow: hidden; }
#bundle-expert-form-modal .modal-content .body-content { height: 100%; }
@media (max-height: 800px) {
  #bundle-expert-form-modal .modal-dialog { padding: 4px; }
}
@media (max-height: 800px) {
}
@media (max-height: 620px) {
}
#bundle-expert-form-modal .modal-dialog, #bundle-expert-form-modal .modal-content {  }
#bundle-expert-form-modal .modal-body { height: calc(100% - 50px); }
#bundle-expert-form-modal .modal-dialog { max-width: 800px; }
@media (min-width: 800px) {
  #bundle-expert-form-modal .modal-dialog {  }
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (max-width: 478px) {
}
@media (max-height: 100px) {
}
@media (min-height: 701px) {
}
@media (max-height: 700px) {
}
@media (min-height: 100px) and (max-height: 400px) {
}
@media (min-height: 400px) and (max-height: 500px) {
}
@media (min-height: 500px) and (max-height: 600px) {
}
@media (min-height: 600px) and (max-height: 700px) {
}
@media (min-height: 700px) and (max-height: 800px) {
}
@media (max-width: 767px) {
}
#bundle-expert-form-modal .modal-header button.close { top: 18px; }
@media (max-width: 478px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (max-width: 478px) {
}
#bundle-expert-form-modal .cart-merge-popup-message { display: block; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.94); position: absolute; z-index: 100000; top: 0px; left: 0px; text-align: center; padding: 0px 48px; }
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 768px) {
}
.bundle-expert-message-header { font-size: 21px; margin-top: 20px; margin-bottom: 10px; font-weight: 500; display: block; }
.bundle-expert-message-text { margin-top: 20px; margin-bottom: 10px; font-size: 15px; font-weight: 500; display: block; }
.kit-form-loading-overlay { margin-top: 100px; }
#bundle-expert-form-modal .modal-footer { margin-top: 0px; }
@media (max-height: 700px) {
}
@media (max-width: 767px) {
}
.modal-bundle-expert { position: fixed; top: 0px; right: 0px; bottom: 0px; left: 0px; display: none; overflow: hidden; outline: 0px none; z-index: 9999; }
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
.modal-bundle-expert .modal-title { white-space: nowrap; overflow: hidden; }
@media (min-width: 768px) {
}
@media (min-width: 767px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 767px) {
}
@media (max-width: 768px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 767px) {
}
.modal-bundle-expert .modal-header, .modal-bundle-expert .modal-footer { border-bottom: 1px solid rgb(229, 229, 229); }
.modal-bundle-expert .modal-header, .modal-bundle-expert .modal-footer { border-top: 1px solid rgb(229, 229, 229); }
#bundle-expert-class-data { display: none; }
@media (min-width: 767px) {
}
