/* Code tidied up by ScrapBook */
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
*::selection { background-color: rgb(234, 234, 234); }
body, #all_document, header, #top, #top2, .rev_slider .owl-pagination, .rev_slider .heading_h, #product_products .owl-pagination, #product_products h3, .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, #top3_links, .vertical-sreview .caption { background-color: rgb(255, 255, 255); }
#top3, #top3.affix { width: 100%; }
#top .container { border-bottom: medium none; }
a, .list-group a, .pagination > li > a, .pagination > li > span, .mobile_info button:hover, .mobilemenu .navbar-nav > li > .list-group-submenu li a > .chevrond:hover, .mobilemenu .navbar-nav > li a > .chevrond:hover, .mobilemenu .navbar-nav > li.mobile_header_type_two > button > .chevrond:hover, .mobilemenu .navbar-nav > li.mobile_header_type_two > button > .chevrond { color: rgb(126, 184, 97); }
.btn-primary, .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover, #popup-view-wrapper .popup-footer a, .cd-products-comparison-table .filter_otlich_span.active { background-color: rgb(126, 184, 97); border-color: rgb(126, 184, 97); }
a:hover, .list-group a:hover, .list-group a.active:hover, .pagination > li > a:hover, .pagination > li > span:hover, .top-links.verh a:hover, .top-links.verh .span-a:hover:hover, .product-info .btn-plus button:hover, .product-info .btn-minus button:hover, .product-info .pop_ico:hover, .product-info .compare .fa:hover, .product-info .wishlist .fa:hover, .product-info input[type="radio"]:checked + label span.option_price, .product-info input[type="checkbox"]:checked + label span.option_price, .home_block a:hover, .home_block a:hover .image > .fa, #menu2 ul.lastul li a:hover, #menu2 a:hover, #menu2 li.glavli a:hover, #menu .nav > li .dropdown-menu li .dropdown-menu ul li a:hover, #menu .nav > li > div > .dropdown-menu > div > ul > li > a:hover, .display-products-cart .btn-plus button:hover, .display-products-cart .btn-minus button:hover, .dropdown-menu li > a:hover, .dropdown-menu li > a:hover i, .search .search_button:hover, .search .change_category_button:hover, .popup_notification .mfp-close:hover, #popup-order-okno .mfp-close:hover, #popup-okno .mfp-close:hover, #popup-view-wrapper .mfp-close:hover, .wwicons a:hover, .cd-products-comparison-table .in_wishlist .fa-border, .cd-products-comparison-table .in_compare .fa-border, .cd-products-comparison-table .fa-border:hover, .product-info .in_wishlist .fa, .product-info .in_compare .fa, .well.well-sm .btn-group-justified .btn-default:hover, .dropdown-menu li > a:hover, .dropdown-menu li > a:hover i, .search .dropdown-menu > li > a:hover .name, .table-revolution .btn-plus button:hover, .table-revolution .btn-minus button:hover, .owl-carousel .owl-buttons div i:hover, .product-thumb .fa-border:hover, .product-info .pokupka .preimushestva .home_block a:hover .fa, .ul_block_home_catwalls h4.home_catwalls_all_href a:hover, .product-thumb .caption a.home_catwalls_podcat:hover, .product-thumb .in_wishlist .fa-border, .product-thumb .in_compare .fa-border, #menu2 ul.lastul .show_categoryoff:hover, .options_buy .checkbox label:hover, .options_buy .radio label:hover, .display-products-cart tr td.remove button:hover, #revcheckout .delete button:hover { color: rgb(51, 122, 183); }
.btn-primary:hover, #popup-view-wrapper .popup-footer a:hover, #popup-view-wrapper .popup-footer a:hover, .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.focus:active, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover, #popup-view-wrapper .popup-footer a:hover { background-color: rgb(51, 122, 183); border-color: rgb(51, 122, 183); }
.product-info #button-cart, #cart:hover button.cart, .popup_notification .popup-footer a, #popup-order-okno .popup-footer a, #popup-okno .popup-footer a, .btn-danger { background-color: rgb(126, 184, 97); }
#menu2_button .box-heading, a.mobil_mmenu_three { background-color: rgb(42, 111, 186); }
#top3 { background-color: rgb(51, 51, 51); }
#cart button.cart { background-color: rgb(73, 73, 73); }
footer .footer { background-color: rgb(41, 41, 41); }
@media (max-width: 991px) {
}
a:hover { color: rgb(51, 122, 183); }
