/* Code tidied up by ScrapBook */
html { height: 100%; }
* {  }
@font-face {
  font-family: "Exo2";
  font-weight: 100;
  src: url("Exo2-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Exo2";
  font-weight: 200;
  src: url("Exo2-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Exo2";
  font-weight: 300;
  src: url("Exo2-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Exo2";
  font-weight: 400;
  src: url("Exo2-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Exo2";
  font-weight: 500;
  src: url("Exo2-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Exo2";
  font-weight: 700;
  src: url("Exo2-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Exo2";
  font-weight: 800;
  src: url("Exo2-Extrabold.ttf") format("truetype");
}
@font-face {
  font-family: "Exo2";
  font-weight: 900;
  src: url("Exo2-Black.ttf") format("truetype");
}
body { display: flex; flex-direction: column; height: 100%; line-height: 1.42857; width: 100%; color: rgb(27, 27, 27); font-family: Exo2,"Times New Roman",sans-serif; font-size: 18px; font-weight: 400; background-color: rgb(255, 255, 255); overflow-x: hidden; }
.menu-phones { position: relative; margin-bottom: 30px; }
#header-mobile .cart { font-size: 8px; }
.menu-phones .phones { display: flex; width: 100%; flex-wrap: wrap; justify-content: space-between; align-items: center; }
.menu-phones .phones .title, .menu-phones .phones .title-sm { font-style: normal; font-weight: normal; font-size: 0.8em; line-height: 17px; letter-spacing: 0.02em; color: rgb(168, 168, 168); }
.menu-phones .phones .phone { font-size: 22px; font-weight: 700; }
.phone-block .phone a { font-style: normal; color: rgb(44, 44, 44); font-size: 1em; line-height: 1.3; font-weight: bold; letter-spacing: 0px; }
.phone-block .phone a span.code_g { font-size: 0.8em; font-weight: normal; }
.o_mail_div { text-align: center; margin-bottom: 0.4em; }
.oh_email { font-style: normal; font-weight: normal; font-size: 1em; line-height: 19px; letter-spacing: 0.02em; color: rgb(44, 44, 44); }
.call_me_back { background: rgb(95, 194, 93) none repeat scroll 0% 0%; border-radius: 10px; padding: 0.4em 0.7em; }
.menu-phones .phones .callback { background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.5359 10.4684V12.4C13.5366 12.5793 13.4999 12.7568 13.428 12.9211C13.3562 13.0854 13.2508 13.2329 13.1187 13.3541C12.9866 13.4753 12.8306 13.5676 12.6607 13.625C12.4908 13.6825 12.3108 13.7038 12.1322 13.6877C10.151 13.4724 8.2478 12.7954 6.57568 11.711C5.01999 10.7225 3.70104 9.40352 2.71249 7.84782C1.62434 6.16811 0.947161 4.25569 0.735817 2.26551C0.719727 2.08746 0.740887 1.90801 0.79795 1.73858C0.855013 1.56916 0.946729 1.41347 1.06726 1.28144C1.18779 1.1494 1.33449 1.04391 1.49802 0.971672C1.66155 0.899438 1.83833 0.862047 2.01711 0.861879H3.94871C4.26118 0.858803 4.56411 0.969455 4.80103 1.17321C5.03796 1.37696 5.19271 1.65992 5.23644 1.96933C5.31797 2.58748 5.46917 3.19443 5.68715 3.77859C5.77377 4.00905 5.79252 4.2595 5.74117 4.50029C5.68982 4.74107 5.57052 4.96209 5.39741 5.13715L4.5797 5.95486C5.49628 7.56681 6.83094 8.90147 8.44289 9.81805L9.2606 9.00035C9.43566 8.82723 9.65668 8.70793 9.89746 8.65658C10.1382 8.60523 10.3887 8.62398 10.6192 8.7106C11.2033 8.92859 11.8103 9.07978 12.4284 9.16131C12.7412 9.20543 13.0268 9.36297 13.231 9.60397C13.4352 9.84496 13.5437 10.1526 13.5359 10.4684Z' fill='white'/%3E%3C/svg%3E"); background-repeat: no-repeat; background-position: left center; padding-left: 20px; font-style: normal; justify-content: center; font-weight: 500; font-size: 0.8em; line-height: 17px; display: flex; align-items: center; text-align: center; letter-spacing: 0.02em; text-decoration: none; color: rgb(255, 255, 255); }
.callback a { color: white; }
a:hover { color: inherit; }
.callback a:hover, .oh_email:hover { color: inherit; text-decoration: underline; }
.write_us { display: flex; align-items: center; margin-top: 10px; position: relative; }
.write_us span { font-size: 0.8em; line-height: 17px; letter-spacing: 0.02em; color: rgb(168, 168, 168); margin-right: 15px; }
.write_us a { margin-left: 5px; }
.write_us a img { max-width: 25px; }
.menu-phones .logo { background: transparent url("logo.svg") no-repeat scroll center center / contain ; display: block; margin: 0px; width: 216px; height: 110px; }
.mm-page, .all_content_mmenu { display: flex; flex-direction: column; height: 100%; }
header { flex: 0 0 auto; }
img { max-width: 100%; }
.main-content { flex: 1 0 auto; padding-top: 0px; padding-bottom: 25px; min-height: 400px; overflow-x: hidden; }
footer { flex: 0 0 auto; background: rgb(41, 41, 41) none repeat scroll 0% 0%; }
@media (max-width: 991px) {
  #top, #top5, #content, #top2, .razmivcont, footer { transition: none 0s ease 0s ; }
}
#pagefader { display: none; position: fixed; left: 0px; top: 0px; height: 100%; width: 100%; z-index: 9; background-color: rgba(0, 0, 0, 0.3); outline: medium none ! important; backface-visibility: hidden; }
#pagefader2 { display: none; position: fixed; left: 0px; top: 0px; height: 100%; width: 100%; z-index: 99; background-color: rgba(0, 0, 0, 0.3); outline: medium none ! important; backface-visibility: hidden; }
.container-fluid { padding: 0px 40px; }
.am_category_image { position: relative; }
#menu2_button:hover { cursor: pointer; }
#menu2_button .box-heading { background-color: rgb(42, 111, 186); color: rgb(255, 255, 255); height: 40px; line-height: 40px; font-size: 17px; padding: 0px 10px; transition: all 100ms linear 0s; z-index: 3; position: relative; display: block; }
#menu2_button .box-heading > .fa { padding-right: 10px; font-size: 14px; margin-top: -4px; vertical-align: middle; }
#menu2_button:hover .box-heading, #menu2_button .box-heading:hover { box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.25) inset; transition: all 100ms linear 0s; }
.icorightmenu { float: right; font-size: 9px; }
.icorightmenu .fa { margin-top: 16px; display: block; font-size: 9px; padding-right: 0px ! important; }
#menu2_button { position: relative; z-index: 9; }
#menu2_button { position: relative; z-index: 9; }
h1, h2, h3, h4, h5, h6 { font-weight: 500; }
h4, .h4 { color: rgb(27, 27, 27); font-size: 20px; font-weight: normal; text-transform: uppercase; }
select.form-control, input.form-control, textarea.form-control { border-radius: 2px; border: 1px solid rgb(238, 238, 238); box-shadow: none; background: rgb(252, 252, 252) none repeat scroll 0% 0%; }
.form-control:focus { border: 1px solid rgb(221, 221, 221); box-shadow: none; }
.fa.none { margin: 0px ! important; padding: 0px ! important; }
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.focus:active, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover { color: rgb(255, 255, 255); }
.input-group-addon, .form-control { border-radius: 2px; border: 1px solid rgb(221, 221, 221); }
.btn { border: 1px solid transparent; background-color: rgb(250, 250, 250); border-radius: 2px; transition: all 100ms linear 0s; text-decoration: none; }
.btn:hover { transition: all 100ms linear 0s; }
.btn:hover { color: rgb(51, 122, 183); text-decoration: underline; }
.btn-primary { background-color: rgb(51, 122, 183); color: rgb(255, 255, 255); }
.btn-primary:hover { background-color: rgb(42, 111, 186); }
.dropdown-menu { box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); border: 0px none; border-radius: 2px; }
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default.focus:active, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover { outline: medium none; box-shadow: none; }
.search .dropdown-menu { margin-top: 5px; width: 100%; }
.search .dropdown-menu.catsearch { margin-top: 5px; width: initial; }
.dropdown-menu > li > a { padding: 3px 15px; font-size: 14px; }
.dropdown-menu::before { border-color: transparent transparent rgb(255, 255, 255); border-style: solid; border-width: 0px 6px 7px; top: -7px; content: ""; height: 0px; left: 9px; position: absolute; width: 0px; z-index: 4; }
.dropdown-menu.dropdown-menu-right::before { border-color: transparent transparent rgb(255, 255, 255); border-style: solid; border-width: 0px 6px 7px; top: -19px; content: ""; height: 0px; left: inherit; right: 12px; position: absolute; width: 0px; z-index: 4; }
#top ul li a:hover .strdown::before { display: none; }
#header-mobile { display: none; }
#header-mobile .logo { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(255, 255, 255); font-size: 24px; line-height: 50px; text-align: center; padding: 8px 21px; display: flex; justify-content: space-between; align-items: center; }
#header-mobile .logo .toggle-menu { background-color: transparent; background-image: url("data:image/svg+xml,%3Csvg width='18' height='12' viewBox='0 0 18 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 12H18V10H0V12ZM0 7H18V5H0V7ZM0 0V2H18V0H0Z' fill='black'/%3E%3C/svg%3E%0A"); background-position: 0px center; background-repeat: no-repeat; border: 0px none; cursor: pointer; height: 12px; position: relative; width: 18px; }
.mosc_tel { background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 12.5C15.75 12.5 14.55 12.3 13.43 11.93C13.08 11.82 12.69 11.9 12.41 12.17L10.21 14.37C7.38 12.93 5.06 10.62 3.62 7.78L5.82 5.57C6.1 5.31 6.18 4.92 6.07 4.57C5.7 3.45 5.5 2.25 5.5 1C5.5 0.45 5.05 0 4.5 0H1C0.45 0 0 0.45 0 1C0 10.39 7.61 18 17 18C17.55 18 18 17.55 18 17V13.5C18 12.95 17.55 12.5 17 12.5ZM16 9H18C18 4.03 13.97 0 9 0V2C12.87 2 16 5.13 16 9ZM12 9H14C14 6.24 11.76 4 9 4V6C10.66 6 12 7.34 12 9Z' fill='black'/%3E%3C/svg%3E%0A"); width: 18px; height: 18px; display: block; margin-right: 20px; margin-left: -20px; }
#header-mobile #cart_mobi { position: absolute; right: 15px; height: 23px; line-height: 23px; }
#header-mobile #cart_mobi button { background-color: transparent; background-image: url("data:image/svg+xml,%3Csvg height='' viewBox='0 -31 512.00033 512' width='' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m166 300.003906h271.003906c6.710938 0 12.597656-4.4375 14.414063-10.882812l60.003906-210.003906c1.289063-4.527344.40625-9.390626-2.433594-13.152344-2.84375-3.75-7.265625-5.964844-11.984375-5.964844h-365.632812l-10.722656-48.25c-1.523438-6.871094-7.617188-11.75-14.648438-11.75h-91c-8.289062 0-15 6.710938-15 15 0 8.292969 6.710938 15 15 15h78.960938l54.167968 243.75c-15.9375 6.929688-27.128906 22.792969-27.128906 41.253906 0 24.8125 20.1875 45 45 45h271.003906c8.292969 0 15-6.707031 15-15 0-8.289062-6.707031-15-15-15h-271.003906c-8.261719 0-15-6.722656-15-15s6.738281-15 15-15zm0 0'/%3E%3Cpath d='m151 405.003906c0 24.816406 20.1875 45 45.003906 45 24.8125 0 45-20.183594 45-45 0-24.8125-20.1875-45-45-45-24.816406 0-45.003906 20.1875-45.003906 45zm0 0'/%3E%3Cpath d='m362.003906 405.003906c0 24.816406 20.1875 45 45 45 24.816406 0 45-20.183594 45-45 0-24.8125-20.183594-45-45-45-24.8125 0-45 20.1875-45 45zm0 0'/%3E%3C/svg%3E"); position: relative; width: 100%; background-repeat: no-repeat; height: 100%; }
#cart_mobi button.cart span { float: none; font-size: 8px; display: inline-block; position: absolute; top: 60%; margin-left: -3px; overflow: hidden; text-align: center; width: 100%; left: 5px; color: rgb(0, 0, 0); }
#header-mobile .city-and-phone { background: rgb(44, 44, 44) none repeat scroll 0% 0%; display: flex; }
#header-mobile .city-and-phone .city { color: rgb(89, 198, 142); cursor: pointer; display: inline-block; font-size: 1em; line-height: 50px; padding-left: 10px; vertical-align: top; background: rgb(36, 36, 36) none repeat scroll 0% 0%; }
#header-mobile .city-and-phone .city .city-title { border-bottom: 1px solid; text-align: center; vertical-align: top; }
#header-mobile .city-and-phone .city .city-select { background-repeat: no-repeat; height: 8px; float: right; margin-left: 7px; margin-right: 7px; margin-top: 24px; width: 15px; }
#header-mobile .city-and-phone .phone { display: inline-block; font-weight: 300; line-height: 22px; padding-left: 15px; padding-top: 3px; }
#header-mobile .city-and-phone .phone.one-phone { margin-top: 11px; }
#header-mobile .city-and-phone .phone > div { display: inline-block; }
#header-mobile .city-and-phone .phone.one-phone a { color: rgb(255, 255, 255); }
#header-mobile > .menu { display: none; left: 0px; position: absolute; top: 0px; width: 100%; max-width: 320px; z-index: 50; }
#header-mobile > .menu .menu-category { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#header-mobile > .menu .menu-category { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.menu-category { border-top: 0.5px solid rgb(230, 231, 233); }
.menu-category { transform: rotate(0deg); border-left: 0px none; border-right: 0px none; text-align: center; }
.mob_open_logo { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(255, 255, 255); font-size: 24px; line-height: 50px; text-align: center; padding: 8px 21px; border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
#header-mobile > .menu .menu-category > ul.menu, #header-mobile > .menu .menu-main > ul.menu, #header-mobile > .menu .menu-top > ul.menu { margin: 0px; padding: 0px; }
#header-mobile > .menu .menu-category > ul.menu li:nth-child(1) { background-image: url("data:image/svg+xml,%3Csvg width='29' height='26' viewBox='0 0 29 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.7501 13.7975L12.6924 3.41308L23.1428 8.03813L23.1428 20.0732L13.8783 15.5864C13.1919 15.254 12.7543 14.5602 12.7501 13.7975Z' fill='%235FC25D' fill-opacity='0.5'/%3E%3Cpath d='M1.96704 9.43419V18.7497C1.96704 19.7324 2.54273 20.6239 3.43836 21.0283L11.6854 24.7515C12.3442 25.0489 13.0995 25.0466 13.7565 24.7452L21.8581 21.0284C22.7462 20.6209 23.3156 19.7333 23.3156 18.7561V9.42767C23.3156 8.46285 22.7604 7.58415 21.8891 7.16987L13.7874 3.31792C13.1131 2.99731 12.3307 2.99489 11.6545 3.3113L3.40759 7.16977C2.52862 7.58102 1.96704 8.46377 1.96704 9.43419Z' stroke='%235FC25D' stroke-width='2'/%3E%3C/svg%3E%0A"); }
#header-mobile > .menu .menu-category > ul.menu li:nth-child(2) { background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.2803 10.7251L2 6.49535L12.1119 1.83813L22 6.57509L12.9427 10.7236C12.415 10.9653 11.8084 10.9658 11.2803 10.7251Z' fill='%2359C68E' fill-opacity='0.5'/%3E%3Cpath d='M1.40137 7.64872V16.7339C1.40137 17.7177 1.97835 18.61 2.8755 19.0137L10.9565 22.65C11.6137 22.9457 12.3666 22.9435 13.022 22.6438L20.9601 19.0139C21.8499 18.6071 22.4205 17.7187 22.4205 16.7403V7.64221C22.4205 6.67624 21.864 5.7967 20.9911 5.38304L13.0528 1.62119C12.3801 1.3024 11.6003 1.29999 10.9256 1.61461L2.84478 5.38297C1.96425 5.79359 1.40137 6.67716 1.40137 7.64872Z' stroke='%2359C68E' stroke-width='2'/%3E%3C/svg%3E%0A"); }
#header-mobile > .menu .menu-category > ul.menu li:nth-child(3) { background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.8022 22.5234L2.33105 18.1924L11.7802 13.8261C12.3221 13.5757 12.9475 13.5804 13.4856 13.839L22.7128 18.274L13.469 22.5219C12.9401 22.7649 12.3315 22.7655 11.8022 22.5234Z' fill='%2350D5D5' fill-opacity='0.5'/%3E%3Cpath d='M3.21155 19.059L3.62303 18.1476L3.21155 19.059L11.4755 22.7899C12.1344 23.0873 12.8897 23.085 13.5467 22.7836L21.6649 19.0591C22.5531 18.6517 23.1224 17.7641 23.1224 16.7869V7.43885C23.1224 6.47404 22.5672 5.59533 21.6959 5.18105L13.5775 1.32117L13.1481 2.22429L13.5775 1.32117C12.9032 1.00056 12.1209 0.998138 11.4446 1.31456L3.18078 5.18096C2.30181 5.59221 1.74023 6.47496 1.74023 7.44537V16.7804C1.74023 17.7631 2.31592 18.6546 3.21155 19.059Z' stroke='%2350D5D5' stroke-width='2'/%3E%3C/svg%3E%0A"); }
#header-mobile > .menu .menu-category > ul.menu li:nth-child(4) { background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.0706 14.254L17.1274 4.03574L6.82631 8.59472L6.82632 20.4579L15.9424 16.043C16.6288 15.7105 17.0664 15.0167 17.0706 14.254Z' fill='%234ECEEB' fill-opacity='0.5'/%3E%3Cpath d='M20.7042 5.25576L20.2748 6.15888L20.7042 5.25576L12.7396 1.46899C12.0653 1.14839 11.283 1.14597 10.6067 1.46238L2.49914 5.25567C1.62017 5.66691 1.05859 6.54966 1.05859 7.52008V16.675C1.05859 17.6577 1.63428 18.5493 2.52991 18.9536L10.6376 22.6139C11.2964 22.9114 12.0517 22.9091 12.7088 22.6076L20.6732 18.9538C21.5614 18.5463 22.1307 17.6587 22.1307 16.6815V7.51356C22.1307 6.54874 21.5756 5.67004 20.7042 5.25576Z' stroke='%234ECEEB' stroke-width='2'/%3E%3C/svg%3E%0A"); }
#header-mobile > .menu .menu-category > ul.menu li:nth-child(5) { background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.90771 7.29005V16.3558C1.90771 17.3385 2.4834 18.23 3.37903 18.6344L11.4093 22.2598C12.0682 22.5572 12.8235 22.5549 13.4805 22.2535L21.3688 18.6345C22.2569 18.2271 22.8263 17.3394 22.8263 16.3623V7.28353C22.8263 6.31872 22.2711 5.44001 21.3998 5.02573L13.5113 1.27518C12.837 0.954574 12.0547 0.952149 11.3784 1.26856L3.34826 5.02564C2.46929 5.43689 1.90771 6.31963 1.90771 7.29005Z' stroke='%2350D5D5' stroke-width='2'/%3E%3Cpath d='M11.7669 16.6016L2 12.0261L12.181 7.20659C12.4567 7.07607 12.777 7.07854 13.0506 7.21329L23 12.1122L13.4672 16.5999C12.9289 16.8534 12.3057 16.854 11.7669 16.6016Z' fill='%2350D5D5' fill-opacity='0.5'/%3E%3C/svg%3E%0A"); }
#header-mobile > .menu .menu-category > ul.menu li:nth-child(6) { background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.9663 1.49057L22.8022 6.21803L20.7607 7.15619C20.4957 7.27796 20.1908 7.27799 19.9258 7.15629L15.7612 5.24366C15.4928 5.1204 15.1836 5.12209 14.9166 5.24828L10.8515 7.16936C10.5769 7.29909 10.2583 7.29707 9.98549 7.16387L8.4246 6.40185C8.16603 6.27562 7.86562 6.26688 7.60015 6.37788L5.82625 7.11955C5.5689 7.22715 5.27831 7.22237 5.02463 7.10637L2.90796 6.13845L12.9663 1.49057Z' fill='%235AD29F' fill-opacity='0.5'/%3E%3Cpath d='M14.947 7.40866L12.7801 8.42585L15.3318 9.60264C15.6016 9.72709 15.9129 9.72508 16.1811 9.59716L18.3023 8.58547L15.7971 7.40876C15.5278 7.28229 15.2162 7.28226 14.947 7.40866Z' fill='%235AD29F' fill-opacity='0.5'/%3E%3Cpath d='M1.90771 7.29005V16.3558C1.90771 17.3385 2.4834 18.23 3.37903 18.6344L11.4093 22.2598C12.0682 22.5572 12.8235 22.5549 13.4805 22.2535L21.3688 18.6345C22.2569 18.2271 22.8263 17.3394 22.8263 16.3623V7.28353C22.8263 6.31872 22.2711 5.44001 21.3998 5.02573L13.5113 1.27518C12.837 0.954574 12.0547 0.952149 11.3784 1.26856L3.34826 5.02564C2.46929 5.43689 1.90771 6.31963 1.90771 7.29005Z' stroke='%235AD29F' stroke-width='2'/%3E%3C/svg%3E%0A"); }
#header-mobile > .menu .menu-category > ul.menu li:nth-child(7) { background-image: url("data:image/svg+xml,%3Csvg width='28' height='26' viewBox='0 0 28 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.7491 13.5853L15.8041 3.68536L5.78909 8.11775L5.7891 19.6515L14.6209 15.3742C15.3073 15.0418 15.7449 14.348 15.7491 13.5853Z' fill='%235FC25D' fill-opacity='0.5'/%3E%3Cpath d='M17.8217 14.8471L17.8625 7.5062L10.1469 10.9209L10.1469 19.8065L16.6935 16.636C17.3799 16.3036 17.8175 15.6097 17.8217 14.8471Z' fill='%235FC25D' fill-opacity='0.4'/%3E%3Cpath d='M20.1893 16.3755L20.2195 10.9478L14.223 13.6017L14.223 20.5075L19.0611 18.1644C19.7475 17.832 20.1851 17.1381 20.1893 16.3755Z' fill='%235FC25D' fill-opacity='0.3'/%3E%3Cpath d='M24.7042 7.25579L24.2748 8.15891L24.7042 7.25579L16.7396 3.46902C16.0653 3.14842 15.283 3.146 14.6067 3.46241L6.49914 7.2557C5.62017 7.66694 5.05859 8.54969 5.05859 9.52011V18.6751C5.05859 19.6578 5.63428 20.5493 6.52991 20.9536L14.6376 24.6139C15.2964 24.9114 16.0517 24.9091 16.7088 24.6077L24.6732 20.9538C25.5614 20.5463 26.1307 19.6587 26.1307 18.6815V9.51359C26.1307 8.54877 25.5756 7.67007 24.7042 7.25579Z' stroke='%235FC25D' stroke-width='2'/%3E%3C/svg%3E%0A"); }
#header-mobile > .menu .menu-category > ul.menu li { background-repeat: no-repeat; background-position: 16px center; }
#header-mobile > .menu .menu-category > ul.menu li { padding-left: 55px; }
#header-mobile > .menu .menu-category > ul.menu li, #header-mobile > .menu .menu-main > ul.menu li, #header-mobile > .menu .menu-top > ul.menu li { display: block; text-align: left; }
#header-mobile > .menu .menu-category > ul.menu li a { text-transform: capitalize; text-align: left; }
.closemenu { background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z' fill='black'/%3E%3C/svg%3E%0A"); width: 14px; height: 14px; position: absolute; left: 20px; top: 31px; }
.menu-category ul li { cursor: pointer; }
#header-mobile > .menu .menu-category > ul.menu li a, #header-mobile > .menu .menu-main > ul.menu li a, #header-mobile > .menu .menu-top > ul.menu li a { font-size: 18px; font-weight: 300; line-height: 50px; padding: 0px; }
#header-mobile .menu-category ul li a { font-style: normal; font-weight: 500; font-size: 19px; line-height: 28px; text-align: center; color: rgb(55, 55, 55); text-transform: capitalize; }
#header-mobile > .menu .menu-top { border-top: 1px solid rgb(222, 222, 222); background: rgb(44, 44, 44) none repeat scroll 0% 0%; }
#header-mobile > .menu .menu-top ul.menu li a { padding-left: 55px ! important; display: block ! important; text-align: left; position: relative; font-style: normal; font-weight: normal ! important; font-size: 18px; text-transform: capitalize ! important; color: rgb(239, 239, 239); }
#header-mobile .nav.menu.mod-list li.parent ul.nav-child { display: none; height: inherit ! important; padding-left: 11px ! important; box-shadow: none ! important; }
#header-mobile .nav.menu .parent > a::after { content: ""; width: 0px; position: absolute; height: 0px; top: 50%; right: 0px; border-left: 6px solid transparent; border-right: 6px solid transparent; border-top: 5px solid rgb(131, 131, 131); }
#header-mobile > .menu .parent > a::after { content: ""; width: 0px; position: absolute; height: 0px; top: 50%; left: 165px; }
#header-mobile .menu-category ul li:hover, #header-mobile .menu-category ul li.active { background: rgb(89, 198, 142) none repeat scroll 0% 0%; }
#header-mobile > .menu .menu-category > ul.menu li.active:nth-child(1), #header-mobile > .menu .menu-category > ul.menu li:nth-child(1):hover { background-image: url("data:image/svg+xml,%3Csvg width='29' height='26' viewBox='0 0 29 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.7501 13.7975L12.6924 3.41308L23.1428 8.03813L23.1428 20.0732L13.8783 15.5864C13.1919 15.254 12.7543 14.5602 12.7501 13.7975Z' fill='rgba(255, 255, 255, 0.5)' fill-opacity='0.5'/%3E%3Cpath d='M1.96704 9.43419V18.7497C1.96704 19.7324 2.54273 20.6239 3.43836 21.0283L11.6854 24.7515C12.3442 25.0489 13.0995 25.0466 13.7565 24.7452L21.8581 21.0284C22.7462 20.6209 23.3156 19.7333 23.3156 18.7561V9.42767C23.3156 8.46285 22.7604 7.58415 21.8891 7.16987L13.7874 3.31792C13.1131 2.99731 12.3307 2.99489 11.6545 3.3113L3.40759 7.16977C2.52862 7.58102 1.96704 8.46377 1.96704 9.43419Z' stroke='%23FFF' stroke-width='2'/%3E%3C/svg%3E%0A"); }
#header-mobile > .menu .menu-category > ul.menu li.active:nth-child(2), #header-mobile > .menu .menu-category > ul.menu li:nth-child(2):hover { background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.2803 10.7251L2 6.49535L12.1119 1.83813L22 6.57509L12.9427 10.7236C12.415 10.9653 11.8084 10.9658 11.2803 10.7251Z' fill='white' fill-opacity='0.5'/%3E%3Cpath d='M1.40137 7.64872V16.7339C1.40137 17.7177 1.97835 18.61 2.8755 19.0137L10.9565 22.65C11.6137 22.9457 12.3666 22.9435 13.022 22.6438L20.9601 19.0139C21.8499 18.6071 22.4205 17.7187 22.4205 16.7403V7.64221C22.4205 6.67624 21.864 5.7967 20.9911 5.38304L13.0528 1.62119C12.3801 1.3024 11.6003 1.29999 10.9256 1.61461L2.84478 5.38297C1.96425 5.79359 1.40137 6.67716 1.40137 7.64872Z' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A"); }
#header-mobile > .menu .menu-category > ul.menu li.active:nth-child(3), #header-mobile > .menu .menu-category > ul.menu li:nth-child(3):hover { background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.8022 22.5234L2.33105 18.1924L11.7802 13.8261C12.3221 13.5757 12.9475 13.5804 13.4856 13.839L22.7128 18.274L13.469 22.5219C12.9401 22.7649 12.3315 22.7655 11.8022 22.5234Z' fill='%23FFF' fill-opacity='0.5'/%3E%3Cpath d='M3.21155 19.059L3.62303 18.1476L3.21155 19.059L11.4755 22.7899C12.1344 23.0873 12.8897 23.085 13.5467 22.7836L21.6649 19.0591C22.5531 18.6517 23.1224 17.7641 23.1224 16.7869V7.43885C23.1224 6.47404 22.5672 5.59533 21.6959 5.18105L13.5775 1.32117L13.1481 2.22429L13.5775 1.32117C12.9032 1.00056 12.1209 0.998138 11.4446 1.31456L3.18078 5.18096C2.30181 5.59221 1.74023 6.47496 1.74023 7.44537V16.7804C1.74023 17.7631 2.31592 18.6546 3.21155 19.059Z' stroke='%23FFF' stroke-width='2'/%3E%3C/svg%3E%0A"); }
#header-mobile > .menu .menu-category > ul.menu li.active:nth-child(4), #header-mobile > .menu .menu-category > ul.menu li:nth-child(4):hover { background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.0706 14.254L17.1274 4.03574L6.82631 8.59472L6.82632 20.4579L15.9424 16.043C16.6288 15.7105 17.0664 15.0167 17.0706 14.254Z' fill='%23FFF' fill-opacity='0.5'/%3E%3Cpath d='M20.7042 5.25576L20.2748 6.15888L20.7042 5.25576L12.7396 1.46899C12.0653 1.14839 11.283 1.14597 10.6067 1.46238L2.49914 5.25567C1.62017 5.66691 1.05859 6.54966 1.05859 7.52008V16.675C1.05859 17.6577 1.63428 18.5493 2.52991 18.9536L10.6376 22.6139C11.2964 22.9114 12.0517 22.9091 12.7088 22.6076L20.6732 18.9538C21.5614 18.5463 22.1307 17.6587 22.1307 16.6815V7.51356C22.1307 6.54874 21.5756 5.67004 20.7042 5.25576Z' stroke='%23FFF' stroke-width='2'/%3E%3C/svg%3E%0A"); }
#header-mobile > .menu .menu-category > ul.menu li.active:nth-child(5), #header-mobile > .menu .menu-category > ul.menu li:nth-child(5):hover { background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.90771 7.29005V16.3558C1.90771 17.3385 2.4834 18.23 3.37903 18.6344L11.4093 22.2598C12.0682 22.5572 12.8235 22.5549 13.4805 22.2535L21.3688 18.6345C22.2569 18.2271 22.8263 17.3394 22.8263 16.3623V7.28353C22.8263 6.31872 22.2711 5.44001 21.3998 5.02573L13.5113 1.27518C12.837 0.954574 12.0547 0.952149 11.3784 1.26856L3.34826 5.02564C2.46929 5.43689 1.90771 6.31963 1.90771 7.29005Z' stroke='%23FFF' stroke-width='2'/%3E%3Cpath d='M11.7669 16.6016L2 12.0261L12.181 7.20659C12.4567 7.07607 12.777 7.07854 13.0506 7.21329L23 12.1122L13.4672 16.5999C12.9289 16.8534 12.3057 16.854 11.7669 16.6016Z' fill='%23FFF' fill-opacity='0.5'/%3E%3C/svg%3E%0A"); }
#header-mobile > .menu .menu-category > ul.menu li.active:nth-child(6), #header-mobile > .menu .menu-category > ul.menu li:nth-child(6):hover { background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.9663 1.49057L22.8022 6.21803L20.7607 7.15619C20.4957 7.27796 20.1908 7.27799 19.9258 7.15629L15.7612 5.24366C15.4928 5.1204 15.1836 5.12209 14.9166 5.24828L10.8515 7.16936C10.5769 7.29909 10.2583 7.29707 9.98549 7.16387L8.4246 6.40185C8.16603 6.27562 7.86562 6.26688 7.60015 6.37788L5.82625 7.11955C5.5689 7.22715 5.27831 7.22237 5.02463 7.10637L2.90796 6.13845L12.9663 1.49057Z' fill='%23FFF' fill-opacity='0.5'/%3E%3Cpath d='M14.947 7.40866L12.7801 8.42585L15.3318 9.60264C15.6016 9.72709 15.9129 9.72508 16.1811 9.59716L18.3023 8.58547L15.7971 7.40876C15.5278 7.28229 15.2162 7.28226 14.947 7.40866Z' fill='%23FFF' fill-opacity='0.5'/%3E%3Cpath d='M1.90771 7.29005V16.3558C1.90771 17.3385 2.4834 18.23 3.37903 18.6344L11.4093 22.2598C12.0682 22.5572 12.8235 22.5549 13.4805 22.2535L21.3688 18.6345C22.2569 18.2271 22.8263 17.3394 22.8263 16.3623V7.28353C22.8263 6.31872 22.2711 5.44001 21.3998 5.02573L13.5113 1.27518C12.837 0.954574 12.0547 0.952149 11.3784 1.26856L3.34826 5.02564C2.46929 5.43689 1.90771 6.31963 1.90771 7.29005Z' stroke='%23FFF' stroke-width='2'/%3E%3C/svg%3E%0A"); }
#header-mobile > .menu .menu-category > ul.menu li.active:nth-child(7), #header-mobile > .menu .menu-category > ul.menu li:nth-child(7):hover { background-image: url("data:image/svg+xml,%3Csvg width='28' height='26' viewBox='0 0 28 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.7491 13.5853L15.8041 3.68536L5.78909 8.11775L5.7891 19.6515L14.6209 15.3742C15.3073 15.0418 15.7449 14.348 15.7491 13.5853Z' fill='%23FFF' fill-opacity='0.5'/%3E%3Cpath d='M17.8217 14.8471L17.8625 7.5062L10.1469 10.9209L10.1469 19.8065L16.6935 16.636C17.3799 16.3036 17.8175 15.6097 17.8217 14.8471Z' fill='%23FFF' fill-opacity='0.4'/%3E%3Cpath d='M20.1893 16.3755L20.2195 10.9478L14.223 13.6017L14.223 20.5075L19.0611 18.1644C19.7475 17.832 20.1851 17.1381 20.1893 16.3755Z' fill='%23FFF' fill-opacity='0.3'/%3E%3Cpath d='M24.7042 7.25579L24.2748 8.15891L24.7042 7.25579L16.7396 3.46902C16.0653 3.14842 15.283 3.146 14.6067 3.46241L6.49914 7.2557C5.62017 7.66694 5.05859 8.54969 5.05859 9.52011V18.6751C5.05859 19.6578 5.63428 20.5493 6.52991 20.9536L14.6376 24.6139C15.2964 24.9114 16.0517 24.9091 16.7088 24.6077L24.6732 20.9538C25.5614 20.5463 26.1307 19.6587 26.1307 18.6815V9.51359C26.1307 8.54877 25.5756 7.67007 24.7042 7.25579Z' stroke='%23FFF' stroke-width='2'/%3E%3C/svg%3E%0A"); }
#header-mobile .menu-category ul li:hover a, #header-mobile .menu-category ul li.active a { color: rgb(255, 255, 255); text-decoration: none; }
#header-mobile .mod-list.nav > li > a:focus, #header-mobile .mod-list.nav > li > a:hover { text-decoration: underline; background-color: rgb(44, 44, 44); }
#header-mobile ul.nav-child { background: rgb(41, 41, 41) none repeat scroll 0% 0%; }
#header-mobile .city-and-phone .city .city-select { background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.41 0L6 4.58L10.59 0L12 1.41L6 7.41L0 1.41L1.41 0Z' fill='white' fill-opacity='0.37'/%3E%3C/svg%3E%0A"); background-repeat: no-repeat; height: 8px; float: right; margin-left: 7px; margin-right: 7px; margin-top: 24px; width: 15px; }
.mobile.modal { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-radius: 5px; display: none; left: 10%; padding: 5px 10px; position: absolute; top: 40px; width: 85%; z-index: 100; }
.mobile.modal.city-select-modal { background: rgb(44, 44, 44) none repeat scroll 0% 0%; display: none; left: 0px; right: 0px; margin: 0px auto; padding: 5px 10px; position: fixed; top: 18vh; width: 80%; z-index: 100; min-width: 300px; max-width: 500px; border-radius: 7px; }
.mobile.modal .modal__close { background-image: url("mobile_icons.png"); background-position: -147px -51px; background-repeat: no-repeat; cursor: pointer; display: inline-block; height: 19px; position: absolute; right: 10px; top: 11px; width: 19px; }
.no-margin { margin: 0px; }
.mobile.modal.city-select-modal .h2 { margin: -5px -10px 9px; background: rgb(36, 36, 36) none repeat scroll 0% 0%; padding: 5px 0px; color: rgb(255, 255, 255); border-top-left-radius: 7px; border-top-right-radius: 7px; }
.city-select-modal .cities { color: rgb(126, 184, 97); margin-top: 10px; }
.city-select-modal .cities ul { list-style: outside none none; padding-left: 20px; }
.city-select-modal .cities ul li { font-size: 18px; line-height: 18px; }
.city-select-modal .cities ul li a { text-decoration: none; color: rgb(239, 239, 239); }
.city-select-modal .cities ul li.active > a, .city-select-modal .cities ul li:hover > a { border-bottom: 1px solid rgb(89, 198, 142); color: rgb(89, 198, 142); }
.mobile.modal ul li + li { margin-top: 10px; }
#header-mobile .city-and-phone .phone { display: flex; margin-top: 0px; flex-direction: column; }
#header-mobile .city-and-phone .phone > div { display: inline-block; }
#header-mobile .city-and-phone .phone a { color: rgb(255, 255, 255); }
@media (max-width: 475px) {
  #header-mobile .city-and-phone .phone { margin-top: 0px; display: flex; flex-direction: column; }
}
h1, .h1 { font-size: 33px; font-weight: 500; margin: 15px 0px; text-align: center; text-transform: uppercase; }
h2, .h2 { font-size: 30px; font-weight: 500; margin: 10px 0px; text-align: center; text-transform: uppercase; }
a { color: rgb(126, 184, 97); }
label { font-size: 1em; font-weight: normal; }
select.form-control, textarea.form-control, input.form-control[type="text"], input.form-control[type="password"], input.form-control[type="datetime"], input.form-control[type="datetime-local"], input.form-control[type="date"], input.form-control[type="month"], input.form-control[type="time"], input.form-control[type="week"], input.form-control[type="number"], input.form-control[type="email"], input.form-control[type="url"], input.form-control[type="search"], input.form-control[type="tel"], input.form-control[type="color"] { font-size: 1em; }
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover { font-size: 0.8em; }
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg { display: inline; }
.dropdown-menu li > a:hover, .dropdown-menu li > span:hover { text-decoration: none; background-color: rgb(238, 238, 238); }
.dropdown-menu li > a:hover, .dropdown-menu li > a:hover i { color: rgb(221, 75, 57); }
#top { z-index: 11; position: relative; border-bottom: 1px solid rgb(237, 237, 237); }
@media (max-width: 1199px) {
}
#top2 { z-index: 10; position: relative; }
#top .container, #top2 .container, #top3 .container { padding: 0px 15px; }
#top2 .container {  }
#top3 { z-index: 9; }
#top3 .navbar-nav { float: none; display: table; margin: 0px auto; padding: 0px; width: 100%; max-width: 1440px; }
#top3 .navbar-nav li { float: none; cursor: pointer; display: table-cell; padding: 0.58em 0px; }
@media (min-width: 992px) {
}
.top-links .list-inline { margin-left: 15px; }
.top-links .list-inline > li { display: inline-block; float: left; padding: 0px; }
.list-inline.ul_dop_menu { margin: 0px; display: inline; }
#top .list-inline.ul_dop_menu { display: inline-block; vertical-align: bottom; }
.top-links.verh a { font-size: 14px; text-decoration: none; line-height: 36px; display: inline-block; padding: 0px 10px; color: rgb(51, 51, 51); transition: all 100ms linear 0s; }
.top-links.verh a:hover { background-color: transparent; color: rgb(221, 75, 57); transition: all 100ms linear 0s; }
.top-links.verh .fa.strdown { font-size: 8px; vertical-align: middle; }
.top-links.verh .fa { transition: all 100ms linear 0s; }
.top-links.verh .span-a:hover .fa, .top-links.verh a:hover .fa { color: rgb(221, 75, 57); transition: all 100ms linear 0s; }
.top-links a:hover { color: rgb(255, 255, 255); background-color: transparent; box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.25) inset; transition: all 100ms linear 0s; }
.top-links .dropdown-menu a { text-shadow: none; display: block; padding: 3px 15px ! important; text-align: left ! important; transition: none 0s ease 0s ; line-height: 1.42857; }
.top-links .dropdown-menu a:hover { background-color: rgb(238, 238, 238); transition: none 0s ease 0s ; }
#menu a .fa, .top-links .fa { padding-right: 5px; text-align: left; width: initial; margin-right: 0px; }
#top .top-links .fa { color: rgb(85, 85, 85); text-align: right; min-width: 20px; }
.text-center { text-align: center; }
.search { margin-top: 14px; border: 1px solid rgb(237, 237, 237); border-radius: 2px; background-color: rgb(252, 252, 252); }
@media (max-width: 767px) {
  .search { width: 100%; }
}
.search .input-lg { height: 30px; padding: 0px 10px; font-size: 14px; border-width: 0px 0px 0px 1px; border-style: none none none solid; border-color: currentcolor currentcolor currentcolor rgb(237, 237, 237); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; box-shadow: none; border-radius: 2px; background: rgb(252, 252, 252) none repeat scroll 0% 0%; }
.search .btn-lg { font-size: 15px; padding: 10px 35px; }
.search .search_button { color: rgb(102, 102, 102); box-shadow: none; border-radius: 2px ! important; text-shadow: none; font-size: 16px; padding: 0px; border: 0px none; background: rgb(252, 252, 252) none repeat scroll 0% 0%; height: 30px; width: 35px; outline: medium none; margin-left: 0px ! important; }
.search .search_button:hover { color: rgb(221, 75, 57); }
#cart, #cart_mobi { height: 40px; line-height: 40px; }
#cart button.cart, #cart_mobi button.cart { background-color: rgb(73, 73, 73); transition: all 100ms linear 0s; border: 0px none; color: rgb(255, 255, 255); font-size: 17px; display: block; width: 100%; padding: 0px 10px; outline: medium none; }
#cart #cart-total-popup, #cart #cart-total, #cart_mobi #cart-total_mobi { float: left; }
#cart #cart-total-popup > .fa, #cart #cart-total > .fa, #cart_mobi #cart-total_mobi > .fa { padding-right: 10px; font-size: 14px; margin-top: -4px; vertical-align: middle; }
@media (max-width: 767px) {
  #cart #cart-total-popup > .fa, #cart #cart-total > .fa, #cart_mobi #cart-total_mobi > .fa { padding-right: 3px; }
}
#cart:hover button.cart { background-color: rgb(225, 102, 86); transition: all 100ms linear 0s; }
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
footer .footer { background-color: rgb(35, 35, 35); color: rgb(255, 255, 255); }
.close { font-size: 18px; font-weight: normal; color: rgb(85, 85, 85); text-shadow: none; opacity: 1; position: absolute; right: 10px; top: 50%; margin-top: -9px; outline: medium none; }
.close:focus, .close:hover { color: rgb(221, 75, 57); opacity: 1; }
.messagers { display: none; }
@media (max-width: 767px) {
  h1.inbreadcrumb { font-size: 30px; }
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) {
}
@media (min-width: 992px) {
}
@media (min-width: 992px) {
}
@media (min-width: 992px) {
}
@media (min-width: 992px) {
}
@media (min-width: 992px) {
}
#header-mobile .write_us { display: none; }
@media (max-width: 1199px) {
  #header-mobile .write_us { display: block; position: absolute; right: 65px; margin-top: 0px; }
  .messagers { background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M256,0C114.6,0,0,106.1,0,237c0,74.6,37.2,141.1,95.4,184.6V512l87.2-47.8c23.3,6.4,47.9,9.9,73.4,9.9 c141.4,0,256-106.1,256-237S397.4,0,256,0z M281.4,319.2l-65.2-69.5L89.1,319.2L229,170.7l66.8,69.5l125.6-69.5L281.4,319.2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); width: 20px; height: 20px; display: block; margin-right: 0px ! important; }
  #header-mobile .write_us a img { max-width: 20px; position: absolute; margin: 0px; right: 0px; }
  #header-mobile .write_us a { position: absolute; transition: all 0.3s ease-in-out 0s; visibility: hidden; }
  h1, .h1 { font-size: 30px; }
  header { display: none; }
  #header-mobile { display: block; }
  body { font-size: 16px; overflow-x: hidden; }
  .menusha_wrap { display: none; }
  .new_footer.desktop { display: flex; justify-content: center; }
  .new_footer.desktop { display: flex; justify-content: center; }
  .new_footer.desktop > div { width: 33% ! important; }
  footer .footer__phones .phones-block { font-size: 18px; }
  footer .footer__phones .phones-block .phones-block__header { font-size: 16px; }
  footer .footer__phones .phones-block { font-size: 18px; }
  .new_footer.desktop > div { width: 33%; }
  footer .footer__logo { background-image: url("logotype_footer.svg"); background-position: 0px center; background-repeat: no-repeat; background-size: cover; display: block; height: 120px; width: 192px; }
  footer .footer__links a { font-size: 12px; }
  .footer__phones_2, .footer_info { display: none ! important; }
  .footer .footer__copyright p { text-align: center ! important; font-size: 12px; }
}
@media only screen and (max-width: 767px) {
  footer { padding-top: 10px; }
  .new_footer.desktop { flex-wrap: wrap; padding-top: 0px ! important; }
  .new_footer.desktop > div { width: 100% ! important; }
  footer .footer__phones .phones-block .phones-block__header, .phone_russia .phones-block__header { font-size: 11px; text-align: center; }
  footer .phones-block a, .footer .footer-block__phone a { font-style: normal; font-weight: 500; font-size: 24px; line-height: 28px; text-align: center; color: rgb(255, 255, 255); }
  .new_footer .footer__phones { margin-top: 15px; }
  footer .footer__icons .footer__icon { width: 35px; height: 30px; }
  footer .footer__icons { margin-top: 22px ! important; text-align: center ! important; }
  footer .footer__links .mail_footer a { font-size: 24px ! important; line-height: 24px ! important; text-align: center ! important; letter-spacing: 0.02em ! important; }
  footer .footer__copyright { margin-top: 20px ! important; }
  footer .footer__links { order: 3; }
  footer .footer__phones { order: 2; }
  footer .footer_logotype { order: 1; padding-bottom: 15px; border-bottom: 0.5px solid rgb(61, 61, 61); }
  footer .phones-block a, footer .footer-block__phone a { font-style: normal; font-weight: 500; font-size: 24px ! important; line-height: 28px ! important; text-align: center; color: rgb(255, 255, 255); }
}
@media (min-width: 992px) {
}
@media (min-width: 992px) {
}
@media (min-width: 992px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 767px) {
}
@media (min-width: 992px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 767px) {
}
@media (max-width: 991px) {
}
.top-links ul { margin-bottom: 0px; }
.clearfix::after { content: ""; display: table; clear: both; }
@media (max-width: 991px) {
}
.menu-phones .search { margin-top: 0px; border: 1px solid rgb(182, 182, 182); border-radius: 2px; background-color: rgb(255, 255, 255); width: 21%; }
.menu-phones .search .dropdown-menu { margin-top: 5px; width: 100%; right: 0px; min-width: 400px; left: inherit; }
.menu-phones .search input { border: 0px none ! important; font-size: 0.9em; }
.menu-phones .search input::-moz-placeholder { opacity: 1; color: rgb(0, 0, 0); }
.menu-phones .search input:-moz-placeholder { opacity: 1; color: rgb(0, 0, 0); }
.menu-phones .search input::placeholder { color: rgb(0, 0, 0); }
.menu-phones .search i { font-size: 1.4em; color: rgb(95, 194, 93); }
@keyframes trambling-animation {
0%, 50%, 100% { transform: rotate(0deg); }
10%, 30% { transform: rotate(-10deg); }
20%, 40% { transform: rotate(10deg); }
}
@media (max-width: 991px) {
}
@media (min-width: 992px) {
}
.nav > li > a:focus, .nav > li > a:hover { text-decoration: none; background-color: rgb(250, 250, 250); }
@media (max-width: 767px) {
}
#menu { margin-bottom: 0px; position: relative; }
.image_in_ico_row { position: relative; z-index: 9; }
#menu .nav > li > a, #menu .nav > li > .without_a { font-style: normal; font-weight: 500; font-size: 19px; line-height: 28px; text-align: center; color: rgb(55, 55, 55); text-transform: capitalize; padding: 0px; }
@media only screen and (max-width: 1336px) {
  #top3 #menu .nav > li > a, #top3 #menu .nav > li > .without_a { font-size: 14px; }
}
header #top3 { border-top: 0.5px solid rgb(230, 231, 233); background-color: rgb(255, 255, 255); border-bottom: 0.5px solid rgb(230, 231, 233); }
@media (min-width: 768px) {
}
@media (max-width: 767px) {
  #menu { border-radius: 4px; }
}
#menu .navbar-collapse { padding: 0px; }
#menu .nav > li { z-index: 9; position: initial; }
#top3 .container { margin: 0px auto; width: 100%; max-width: 1440px; }
#top3 li.active a, #top3 li.active, #top3 li.active a, #top3 li:focus, #top3 li:hover, #top3 li:hover a, #top3 li > a:focus, #top3 li > a:hover { outline: medium none; background: rgb(89, 198, 142) none repeat scroll 0% 0%; color: rgb(255, 255, 255) ! important; }
@media (max-width: 767px) {
}
.navmenu-default, .navbar-default .navbar-offcanvas { background-color: rgb(250, 250, 250); border-color: rgb(250, 250, 250); }
.mobilemenu .navbar-collapse { padding: 0px; display: block; }
.mobilemenu .navbar-nav { margin: 0px; }
.mobilemenu .navbar-nav > li > a { padding-top: 15px; padding-bottom: 15px; }
.mobilemenu .navbar-nav > li > .list-group-submenu li > a, .mobilemenu .nav > li > a { position: relative; display: block; padding: 10px 40px 10px 10px; }
.mobilemenu .nav > li > button, .mobilemenu .nav > li > span.mmbutton { background-color: transparent; position: relative; display: block; padding: 10px 16px 10px 10px; width: 100%; text-align: left; border: medium none; outline: medium none; }
.mobilemenu .navbar-nav > li > button > i, .mobilemenu .navbar-nav > li > span.mmbutton > i { float: right; font-size: 9px; margin-top: 5px; }
.mobilemenu .navbar-nav, .mobilemenu .navbar-nav > li { float: none; position: relative; }
.mobilemenu .navbar-nav > li { border-bottom: 1px solid rgb(221, 221, 221); }
.mobilemenu .navbar-nav > li > .list-group-submenu li a > .chevrond, .mobilemenu .navbar-nav > li a > .chevrond { position: absolute; top: 0px; right: 0px; font-size: 9px; height: 100%; width: 40px; text-align: center; border-left: 1px solid rgb(221, 221, 221); padding: 0px; }
.mobilemenu .navbar-nav > li > .list-group-submenu li a > .chevrond > i, .mobilemenu .navbar-nav > li a > .chevrond > i { line-height: 40px; text-align: center; }
.mobilemenu .nav > li > button:focus, .mobilemenu .nav > li > button:hover, .mobilemenu .nav > li > a:focus, .mobilemenu .nav > li > a:hover, .mobilemenu .nav > li > span.mmbutton:focus, .mobilemenu .nav > li > span.mmbutton:hover { background-color: rgb(238, 238, 238); }
.mobilemenu .nav > li a > .chevrond:focus { background-color: transparent; }
.mobilemenu .nav > li a > .chevrond:hover, .mobilemenu .nav > li.mobile_header_type_two > button > .chevrond:hover, .mobilemenu .nav > li.mobile_header_type_two > span.mmbutton > .chevrond:hover { background-color: rgb(255, 255, 255); }
.mobilemenu .navbar-nav > li > .list-group-submenu { background-color: rgb(255, 255, 255); }
.mobilemenu .navbar-nav > li > .list-group-submenu li { float: none; position: relative; border-top: 1px solid rgb(221, 221, 221); }
@media only screen and (min-width: 1170px) {
}
@media only screen and (min-width: 1170px) {
}
@media only screen and (min-width: 1170px) {
}
@media only screen and (min-width: 1170px) {
}
@media only screen and (min-width: 1170px) {
}
@media only screen and (min-width: 1170px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media only screen and (min-width: 1170px) {
}
@media only screen and (min-width: 1170px) {
}
@keyframes cd-bounce {
0% { transform: scale(1); }
60% { transform: scale(1.6); }
100% { transform: scale(1.5); }
}
@media only screen and (min-width: 1170px) {
}
@media only screen and (min-width: 1170px) {
}
@media only screen and (min-width: 1170px) {
}
@media (max-width: 1170px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
@media (max-width: 767px) {
  #menu2_button .box-heading { text-transform: none; cursor: pointer; }
  #top2 .search { margin-top: 15px ! important; }
}
@media (max-width: 991px) {
  #top3_links { position: relative; }
  #menu2_button .box-heading { text-transform: none; cursor: pointer; }
  #top3_links .top-links { margin-top: -2px; padding-bottom: 12px; z-index: 9; }
  #top3_links .top-links .list-inline { margin-left: 0px; }
  #menu2_button .icorightmenu .fa { transform: rotate(90deg); }
  .top-links.verh a .fa.strdown { padding-left: 0px; text-align: left; width: initial; }
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1200px) {
  .top-links a, .top-links.nav.norazmivcont ul.list-inline a { padding: 0px 7px; font-size: 15px; }
  #menu .nav > li > a { font-size: 15px; padding: 0px 8px; }
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
  @media (min-width: 992px) {
  }
  .search .change_category { display: none; }
}
@media (max-width: 991px) {
}
@media (min-width: 471px) and (max-width: 767px) {
}
@media (min-width: 992px) {
}
@media (min-width: 320px) and (max-width: 532px) {
}
@media print {
  header, .breadcrumb, #column-left, .well.well-sm, .pagination, .stiker_panel, .popup-phone-wrapper, .scroll-top-wrapper, .nav.nav-tabs, footer { display: none; }
}
@media (max-width: 1200px) {
}
@media (min-width: 992px) and (max-width: 1200px) {
}
@media (max-width: 991px) {
}
@media (min-width: 1500px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
  img { max-width: 100%; }
}
@media (min-width: 768px) and (max-width: 1199px) {
}
#content img { max-width: 100%; }
@media (max-width: 1200px) {
}
input[type="checkbox"], input[type="radio"] { margin: 2px 0px 0px; position: relative; }
input[type="file"]:focus, input[type="checkbox"]:focus, input[type="radio"]:focus { outline: medium none; }
@media (min-width: 992px) {
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default.focus:active, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover, .btn-default.focus, .btn-default:focus, .btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default { border-color: rgb(221, 221, 221); }
input[type="radio"], .radio input[type="radio"], .radio-inline input[type="radio"], input[type="checkbox"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] { width: 17px; height: 17px; -moz-appearance: none; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(216, 216, 216); border-radius: 2px; outline: medium none; transition: all 0.2s ease 0s; vertical-align: top; cursor: pointer; }
input[type="radio"]:checked, .radio input[type="radio"]:checked, .radio-inline input[type="radio"]:checked, input[type="checkbox"]:checked, .checkbox input[type="checkbox"]:checked, .checkbox-inline input[type="checkbox"]:checked { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-color: rgb(187, 187, 187); }
header #top .top-links.nav { padding: 0px; display: flex; align-items: center; justify-content: center; }
#cart button.cart { background-color: rgb(73, 73, 73); font-size: 14px; }
input[type="checkbox"]:checked::after, .checkbox input[type="checkbox"]:checked::after, .checkbox-inline input[type="checkbox"]:checked::after { position: absolute; content: ""; width: 12px; height: 6px; transform: rotate(126deg); border-right: 1px solid rgb(51, 51, 51); border-top: 1px solid rgb(51, 51, 51); border-color: rgb(51, 51, 51); top: 1px; left: 1px; opacity: 1; transition: all 0.2s ease 0s; }
.revmenumodcustom .chevrond i, .mobilemenu .chevrond i { margin-right: 0px; }
.revmenumodcustom .chevrond .fa.on, .revmenumodcustom .chevrond.hided .fa.off, .mobilemenu .chevrond .fa.on, .mobilemenu .chevrond.hided .fa.off { display: inline-block; margin: 0px; font-size: 8px; }
.revmenumodcustom .chevrond .fa.off, .revmenumodcustom .chevrond.hided .fa.on, .mobilemenu .chevrond .fa.off, .mobilemenu .chevrond.hided .fa.on { display: none; }
.top-links.nav { padding: 0px; }
@media (max-width: 767px) {
  #menu a .fa, .top-links .fa { padding-right: 2px; }
  .top-links.verh .fa.strdown { min-width: 12px ! important; }
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (min-width: 1360px) {
}
@media (min-width: 992px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
#top { background-color: rgb(41, 41, 41) ! important; margin-bottom: 25px; }
#top ul li a, #top a { background: transparent none repeat scroll 0% 0%; text-decoration: none; font-style: normal; font-weight: normal; font-size: 15px; line-height: 30px; text-align: center; text-transform: none; color: rgb(187, 187, 187); }
#top ul li:hover, #top a:hover { text-decoration: underline; color: rgb(255, 255, 255); box-shadow: none; }
.language_menu { position: absolute; right: 21px; top: 0px; margin: 0px; padding: 0px; list-style: outside none none; display: flex; height: 100%; align-items: center; justify-content: center; }
.mob_open_logo .language_menu { right: 20px; display: flex ! important; }
.language_menu li { display: flex; margin-left: 0px; border-radius: 50%; overflow: hidden; height: 18px; margin-right: 5px; }
.language_menu li a { height: 18px; font-size: 0px ! important; }
.language_menu li a img { border: medium none; height: 18px; width: 18px; vertical-align: top; }
#top2 .container { width: 1170px; }
.btn { background: transparent none repeat scroll 0% 0% ! important; border: 2px solid rgb(128, 194, 89); border-radius: 5px; color: rgb(57, 57, 57); display: inline-block; font-size: 18px; font-weight: 300; outline: medium none; padding: 10px 60px; text-decoration: none; text-transform: uppercase; }
.m-t-l { margin-top: 30px ! important; }
@media only screen and (min-width: 501px) {
}
@media only screen and (min-width: 1211px) {
}
.block-grey, .block-light-green, .block-white { padding-bottom: 30px; padding-top: 30px; text-align: justify; }
input { background: transparent none repeat scroll 0% 0% ! important; border: 1px solid rgb(149, 149, 149) ! important; border-radius: 5px; font-size: 18px; height: 48px ! important; line-height: initial; outline: medium none; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 15px ! important; width: 100%; }
.btn.btn-green { background: rgb(128, 194, 89) none repeat scroll 0% 0% ! important; color: rgb(255, 255, 255); }
.menusha_wrap { background: rgb(41, 41, 41) none repeat scroll 0% 0%; border-bottom: 0.5px solid rgb(61, 61, 61); }
.menusha { max-width: 1440px; margin: 0px auto; }
.menusha ul { display: flex; list-style: outside none none; padding-left: 0px; margin: 0px; justify-content: space-between; }
.menusha ul li { place-content: center; align-items: center; text-align: center; display: flex; padding: 22px 0px; margin-top: 0px; width: calc(100% / 5); }
.menusha ul li:hover a, .menusha ul li a:hover { text-decoration: none; }
.menusha ul li:hover { padding: 0px; }
.menusha ul li a { font-style: normal; font-weight: 300; font-size: 0.9em; line-height: 28px; text-align: center; color: rgb(121, 192, 105); letter-spacing: 0.02em; }
.menusha ul li:nth-child(2) a { color: rgb(89, 198, 142); }
.menusha ul li:nth-child(3) a { color: rgb(115, 203, 231); }
.menusha ul li:nth-child(4) a { color: rgb(116, 201, 211); }
.menusha ul li:nth-child(5) a { color: rgb(118, 195, 146); }
.menusha ul li:hover a span { display: block; height: 31px; width: 100%; background-position: center center; background-repeat: no-repeat; }
.menusha ul li:nth-child(1):hover a span { background-image: url("data:image/svg+xml,%3Csvg width='34' height='32' viewBox='0 0 34 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.801 17.1059L13.7304 4.3954L26.2708 9.94545L26.2708 24.3876L14.9292 18.8948C14.2428 18.5624 13.8052 17.8685 13.801 17.1059Z' fill='%235FC25D' fill-opacity='0.5'/%3E%3Cpath d='M14.8308 4.40115L14.4014 5.30427L14.8308 4.40115C14.1565 4.08055 13.3742 4.07812 12.6979 4.39454L2.50061 9.16555C1.62164 9.57679 1.06006 10.4595 1.06006 11.43V22.9931C1.06006 23.9758 1.63575 24.8674 2.53138 25.2717L12.7288 29.8754C13.3876 30.1729 14.1429 30.1706 14.7999 29.8692L24.8208 25.2719C25.709 24.8644 26.2783 23.9768 26.2783 22.9996V11.4234C26.2783 10.4586 25.7231 9.57992 24.8518 9.16564L14.8308 4.40115Z' stroke='%235FC25D' stroke-width='2'/%3E%3C/svg%3E%0A"); }
.menusha ul li:nth-child(2):hover a span { background-image: url("data:image/svg+xml,%3Csvg width='28' height='29' viewBox='0 0 28 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.1379 12.5057L1.62732 7.24206L13.9717 1.53784L26.043 7.33972L14.8048 12.5041C14.2759 12.7472 13.6673 12.7478 13.1379 12.5057Z' fill='%2359C68E' fill-opacity='0.5'/%3E%3Cpath d='M14.8882 1.4097L14.4588 2.31282L14.8882 1.4097C14.2139 1.0891 13.4315 1.08667 12.7552 1.40309L2.55798 6.17409C1.67901 6.58534 1.11743 7.46809 1.11743 8.4385V20.0017C1.11743 20.9844 1.69312 21.8759 2.58875 22.2802L12.7862 26.884C13.445 27.1814 14.2003 27.1791 14.8573 26.8777L24.8782 22.2804C25.7663 21.8729 26.3357 20.9853 26.3357 20.0081V8.43198C26.3357 7.46717 25.7805 6.58847 24.9092 6.17419L14.8882 1.4097Z' stroke='%2359C68E' stroke-width='2'/%3E%3C/svg%3E%0A"); }
.menusha ul li:nth-child(3):hover a span { background-image: url("data:image/svg+xml,%3Csvg width='28' height='29' viewBox='0 0 28 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.8028 26.7564L2.29224 21.4928L13.7809 16.184C14.3228 15.9336 14.9482 15.9383 15.4862 16.1969L26.7079 21.5905L15.4697 26.7549C14.9408 26.9979 14.3322 26.9985 13.8028 26.7564Z' fill='%234ECEEB' fill-opacity='0.5'/%3E%3Cpath d='M15.5532 1.40091L15.1238 2.30403L15.5532 1.40091C14.8789 1.08031 14.0966 1.07788 13.4203 1.3943L3.22302 6.1653C2.34405 6.57655 1.78247 7.4593 1.78247 8.42971V19.9929C1.78247 20.9756 2.35816 21.8671 3.25379 22.2715L13.4512 26.8752C14.11 27.1726 14.8653 27.1703 15.5224 26.8689L25.5432 22.2716C26.4314 21.8641 27.0007 20.9765 27.0007 19.9993V8.4232C27.0007 7.45838 26.4455 6.57968 25.5742 6.1654L15.5532 1.40091Z' stroke='%234ECEEB' stroke-width='2'/%3E%3C/svg%3E%0A"); }
.menusha ul li:nth-child(4):hover a span { background-image: url("data:image/svg+xml,%3Csvg width='28' height='29' viewBox='0 0 28 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.4795 17.1059L20.5501 4.3954L8.00969 9.94545L8.0097 24.3876L19.3513 18.8948C20.0377 18.5624 20.4753 17.8685 20.4795 17.1059Z' fill='%2350CCD5' fill-opacity='0.5'/%3E%3Cpath d='M14.9763 1.40091L14.5469 2.30403L14.9763 1.40091C14.302 1.08031 13.5197 1.07788 12.8434 1.3943L2.64611 6.1653C1.76714 6.57655 1.20557 7.4593 1.20557 8.42971V19.9929C1.20557 20.9756 1.78125 21.8671 2.67688 22.2715L12.8743 26.8752C13.5331 27.1726 14.2884 27.1703 14.9454 26.8689L24.9663 22.2716C25.8545 21.8641 26.4238 20.9765 26.4238 19.9993V8.4232C26.4238 7.45838 25.8686 6.57968 24.9973 6.1654L14.9763 1.40091Z' stroke='%2350CCD5' stroke-width='2'/%3E%3C/svg%3E%0A"); }
.menusha ul li:nth-child(5):hover a span { background-image: url("data:image/svg+xml,%3Csvg width='28' height='29' viewBox='0 0 28 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.3856 1.52905L26.4569 7.33093L23.8565 8.52591C23.5916 8.64768 23.2866 8.64772 23.0216 8.52601L17.7195 6.09093C17.4511 5.96766 17.1419 5.96935 16.8749 6.09555L11.6914 8.54512C11.4169 8.67486 11.0983 8.67283 10.8254 8.53963L8.71923 7.5114C8.46066 7.38517 8.16025 7.37643 7.89478 7.48743L5.53105 8.47571C5.2737 8.58331 4.98311 8.57853 4.72943 8.46253L2.04126 7.23327L14.3856 1.52905Z' fill='%2359C68E' fill-opacity='0.5'/%3E%3Cpath d='M16.9131 8.7468L14.1572 10.0405L17.3855 11.5294C17.6554 11.6539 17.9666 11.6518 18.2348 11.5239L20.9343 10.2364L17.7632 8.74689C17.4939 8.62043 17.1823 8.62039 16.9131 8.7468Z' fill='%2359C68E' fill-opacity='0.5'/%3E%3Cpath d='M14.8118 1.40091L14.3824 2.30403L14.8118 1.40091C14.1374 1.08031 13.3551 1.07788 12.6788 1.3943L2.48156 6.1653C1.60259 6.57655 1.04102 7.4593 1.04102 8.42971V19.9929C1.04102 20.9756 1.6167 21.8671 2.51233 22.2715L12.7097 26.8752C13.3686 27.1726 14.1239 27.1703 14.7809 26.8689L24.8017 22.2716C25.6899 21.8641 26.2593 20.9765 26.2593 19.9993V8.4232C26.2593 7.45838 25.7041 6.57968 24.8327 6.1654L14.8118 1.40091Z' stroke='%2359C68E' stroke-width='2'/%3E%3C/svg%3E%0A"); }
.new_footer.desktop { display: flex; max-width: 1440px; margin: auto; padding-top: 30px; }
.footer__phones a:hover { color: rgb(255, 255, 255); text-decoration: none; }
.footer_logotype { display: flex; align-items: center; justify-content: flex-start; flex-direction: column; }
footer .footer__phones .phones-block .phones-block__header { font-style: normal; font-weight: normal; color: rgb(156, 156, 156); font-size: 0.8em; line-height: 17px; letter-spacing: 0.02em; }
.phones-block__header { max-width: 158px; text-align: left; margin: auto; }
.phones-block a { font-style: normal; font-weight: 600; font-size: 1em; line-height: 1.5; color: rgb(255, 255, 255); }
.phoone { text-align: center; }
.new_footer.desktop > div { width: 20%; display: flex; flex-direction: column; }
.new_footer.desktop > div { width: 20%; display: flex; flex-direction: column; }
footer .footer__phones .phones-block + .phones-block { margin-top: 15px; }
.footer__phones_2 a, .footer_info a { font-style: normal; font-weight: 300; line-height: 1.35em; letter-spacing: 0.02em; color: rgb(156, 156, 156); font-size: 0.9em; text-align: left; }
.footer__phones_2 a { min-width: 187px; margin: 0px auto; text-align: left; }
.footer__phones_2 a:hover, .footer_info a:hover { color: rgb(156, 156, 156); }
footer .footer__logo { background-image: url("logotype_footer.svg"); background-position: 0px center; background-repeat: no-repeat; background-size: cover; display: block; height: 120px; width: 192px; }
footer .footer__links a { display: block; text-decoration: none; text-transform: uppercase; max-width: 200px; margin: auto; font-style: normal; font-weight: 600; font-size: 1em; line-height: 1.5; color: rgb(255, 255, 255); }
.footer_info a { min-width: 224px; margin: 0px auto; text-align: left; }
.phone_russia .phones-block__header { max-width: 201px; text-align: left; margin: auto; }
.phone_russia .phones-block__header { font-style: normal; font-weight: normal; color: rgb(156, 156, 156); font-size: 0.8em; line-height: 17px; letter-spacing: 0.02em; }
footer .footer__links .mail_footer a { font-style: normal; font-weight: 300; font-size: 1em; line-height: 1.5; letter-spacing: 0.02em; color: rgb(156, 156, 156); text-transform: lowercase; max-width: 201px; text-align: left; }
footer .footer__icons { text-align: left; max-width: 201px; margin: 5px auto 0px; }
footer .footer__icons .footer__icon { display: inline-block; }
footer .footer__icons .footer__icon { background-position: 0px center ! important; background-size: contain; width: 1.5em; background-repeat: no-repeat; height: 29px; }
footer .footer__icons .footer__icon { margin-right: 6px; }
footer .footer__icons .footer__icon { background-position: 0px center ! important; background-size: contain; width: 1.5em; height: 29px; }
footer .footer__icons .footer__icon.fb { background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.6502 6.43476C19.6045 5.39829 19.4369 4.68572 19.1968 4.06828C18.9491 3.41287 18.5681 2.82609 18.0688 2.33829C17.581 1.84291 16.9904 1.45797 16.3425 1.21415C15.7215 0.974045 15.0127 0.806435 13.9762 0.760737C12.932 0.711169 12.6005 0.699707 9.95209 0.699707C7.30367 0.699707 6.97217 0.711169 5.93183 0.756867C4.89536 0.802565 4.1828 0.970324 3.5655 1.21028C2.90994 1.45797 2.32316 1.83904 1.83536 2.33829C1.33998 2.82609 0.955189 3.41674 0.711217 4.06456C0.471116 4.68572 0.303506 5.39442 0.257808 6.43089C0.208239 7.4751 0.196777 7.8066 0.196777 10.455C0.196777 13.1034 0.208239 13.4349 0.253937 14.4753C0.299636 15.5117 0.467394 16.2243 0.707496 16.8417C0.955189 17.4972 1.33998 18.0839 1.83536 18.5717C2.32316 19.0671 2.91381 19.4521 3.56163 19.6959C4.1828 19.936 4.89149 20.1036 5.92811 20.1493C6.9683 20.1951 7.29995 20.2064 9.94837 20.2064C12.5968 20.2064 12.9283 20.1951 13.9686 20.1493C15.0051 20.1036 15.7177 19.936 16.335 19.6959C17.6459 19.189 18.6824 18.1526 19.1892 16.8417C19.4292 16.2206 19.5969 15.5117 19.6426 14.4753C19.6883 13.4349 19.6998 13.1034 19.6998 10.455C19.6998 7.8066 19.6959 7.4751 19.6502 6.43476ZM17.8936 14.3991C17.8516 15.3517 17.6916 15.8662 17.5582 16.2091C17.2305 17.0589 16.556 17.7334 15.7062 18.0612C15.3632 18.1945 14.8451 18.3546 13.8961 18.3964C12.8672 18.4422 12.5587 18.4535 9.95596 18.4535C7.35324 18.4535 7.0408 18.4422 6.01564 18.3964C5.06297 18.3546 4.54853 18.1945 4.20557 18.0612C3.78267 17.9049 3.39774 17.6572 3.08529 17.3333C2.76139 17.017 2.51369 16.6359 2.3574 16.213C2.22402 15.87 2.064 15.3517 2.02218 14.4029C1.97633 13.374 1.96502 13.0653 1.96502 10.4626C1.96502 7.85989 1.97633 7.54744 2.02218 6.52244C2.064 5.56977 2.22402 5.05533 2.3574 4.71237C2.51369 4.28932 2.76139 3.90454 3.08916 3.59194C3.40533 3.26804 3.7864 3.02034 4.20944 2.8642C4.5524 2.73082 5.07071 2.5708 6.01951 2.52883C7.04839 2.48313 7.35711 2.47167 9.95968 2.47167C12.5663 2.47167 12.8748 2.48313 13.9 2.52883C14.8527 2.5708 15.3671 2.73082 15.7101 2.8642C16.133 3.02034 16.5179 3.26804 16.8303 3.59194C17.1542 3.90826 17.4019 4.28932 17.5582 4.71237C17.6916 5.05533 17.8516 5.57349 17.8936 6.52244C17.9393 7.55132 17.9508 7.85989 17.9508 10.4626C17.9508 13.0653 17.9393 13.3702 17.8936 14.3991Z' fill='%23C6C6C6'/%3E%3Cpath d='M9.95219 5.44385C7.18573 5.44385 4.94116 7.68827 4.94116 10.4549C4.94116 13.2215 7.18573 15.4659 9.95219 15.4659C12.7188 15.4659 14.9632 13.2215 14.9632 10.4549C14.9632 7.68827 12.7188 5.44385 9.95219 5.44385ZM9.95219 13.7054C8.15745 13.7054 6.70166 12.2498 6.70166 10.4549C6.70166 8.65999 8.15745 7.20435 9.95219 7.20435C11.7471 7.20435 13.2027 8.65999 13.2027 10.4549C13.2027 12.2498 11.7471 13.7054 9.95219 13.7054Z' fill='%23C6C6C6'/%3E%3Cpath d='M16.3313 5.24602C16.3313 5.89204 15.8075 6.41586 15.1613 6.41586C14.5153 6.41586 13.9915 5.89204 13.9915 5.24602C13.9915 4.59984 14.5153 4.07617 15.1613 4.07617C15.8075 4.07617 16.3313 4.59984 16.3313 5.24602Z' fill='%23C6C6C6'/%3E%3C/svg%3E%0A"); }
footer .footer__icons .footer__icon.in { background-image: url("data:image/svg+xml,%3Csvg width='21' height='12' viewBox='0 0 21 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.4244 7.94711C18.069 8.57646 18.7494 9.16858 19.3275 9.8614C19.5829 10.1693 19.8247 10.487 20.0097 10.8443C20.2718 11.3522 20.0344 11.9111 19.579 11.9414L16.7479 11.9402C16.0178 12.0008 15.4353 11.7068 14.9455 11.2076C14.5535 10.8083 14.1906 10.3834 13.8137 9.97071C13.6592 9.80202 13.4974 9.6433 13.3042 9.51783C12.9177 9.26697 12.5823 9.34378 12.3614 9.74686C12.1365 10.1568 12.0855 10.6108 12.0634 11.0677C12.0331 11.7343 11.8316 11.9096 11.1619 11.9401C9.73083 12.0076 8.37266 11.7911 7.11096 11.0692C5.9986 10.4327 5.13601 9.53424 4.38522 8.51708C2.92342 6.53645 1.80397 4.36006 0.797849 2.12269C0.57138 1.61861 0.737002 1.34802 1.29318 1.33844C2.21675 1.3205 3.14018 1.32178 4.06483 1.33717C4.44019 1.34266 4.68869 1.55795 4.83362 1.91257C5.3333 3.1412 5.94471 4.31013 6.71216 5.39363C6.91654 5.68209 7.12494 5.97056 7.42171 6.1736C7.75001 6.39841 7.99998 6.3239 8.15443 5.95817C8.25243 5.72628 8.29534 5.4765 8.31743 5.22813C8.3906 4.37366 8.40024 3.52065 8.27191 2.66917C8.19312 2.13776 7.8938 1.79375 7.36354 1.69318C7.09295 1.64191 7.13324 1.54123 7.26426 1.38678C7.49181 1.1204 7.70583 0.95459 8.13246 0.95459H11.332C11.8357 1.054 11.9475 1.28028 12.0165 1.78711L12.0192 5.34108C12.0137 5.53729 12.1172 6.11952 12.4706 6.24938C12.7535 6.34184 12.9399 6.11556 13.1096 5.93621C13.8757 5.12317 14.4224 4.16232 14.9108 3.16737C15.1276 2.72989 15.314 2.27554 15.4946 1.82158C15.6284 1.48472 15.8384 1.31897 16.2179 1.32631L19.2972 1.32906C19.3885 1.32906 19.4809 1.3304 19.5693 1.34553C20.0882 1.43396 20.2304 1.65717 20.0701 2.16387C19.8176 2.95885 19.3263 3.62133 18.8459 4.28689C18.3324 4.99745 17.7832 5.68369 17.2739 6.39847C16.806 7.05119 16.8432 7.3802 17.4244 7.94711Z' fill='%23C6C6C6'/%3E%3C/svg%3E%0A") ! important; }
footer .footer__icons .footer__icon.vk { background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.8354 5.39891C19.8377 2.80428 17.735 0.699703 15.1403 0.699707L5.01489 0.699722C2.42187 0.699726 0.319824 2.80178 0.319824 5.39479L0.319824 15.5114C0.319825 18.1044 2.42188 20.2065 5.0149 20.2065H10.7447V12.6523H8.20279V9.70794H10.7447V7.53667C10.7447 5.01754 12.2829 3.64508 14.5306 3.64508C15.6082 3.64508 16.5323 3.7257 16.8018 3.76071V6.39386L15.2427 6.3945C14.0206 6.3945 13.7848 6.97554 13.7848 7.82767V9.70698H16.7006L16.3194 12.651H13.7845V20.2055H15.1314C17.7228 20.2055 19.8242 18.106 19.8265 15.5146L19.8354 5.39891Z' fill='%23C6C6C6'/%3E%3C/svg%3E%0A"); }
footer .footer__icons .footer__icon.yt { background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.6,5.7c-0.2-0.9-0.9-1.5-1.8-1.8C16.3,3.5,10,3.5,10,3.5s-6.3,0-7.8,0.4C1.3,4.1,0.6,4.8,0.4,5.7 C0,7.2,0,10.5,0,10.5s0,3.3,0.4,4.8c0.2,0.9,0.9,1.5,1.8,1.8c1.6,0.4,7.8,0.4,7.8,0.4s6.3,0,7.8-0.4c0.9-0.2,1.5-0.9,1.8-1.8 c0.4-1.6,0.4-4.8,0.4-4.8S20,7.2,19.6,5.7z M8,13.5V7.5l5.2,3L8,13.5z' fill='%23C6C6C6'/%3E%3C/svg%3E%0A"); }
.footer .footer__copyright { margin-top: 100px; font-style: normal; font-weight: 300; font-size: 0.7em; line-height: 13px; letter-spacing: 0.02em; color: rgb(132, 132, 132); background: rgb(37, 37, 37) none repeat scroll 0% 0%; }
.footer .footer__copyright { margin-top: 34px; }
.footer .footer__copyright p { max-width: 1310px; margin: auto; text-align: left; padding: 10px 0px; color: rgb(132, 132, 132); }
.block-grey, .block-light-green, .block-white { padding-bottom: 30px; padding-top: 30px; text-align: justify; }
@media (min-width: 1360px) {
}
.m-b-l { margin-bottom: 30px; }
.you-will-be-interested .block { font-size: 16px; font-weight: 300; text-align: left; }
.you-will-be-interested [class*="col-"] { padding-left: 40px; padding-right: 40px; }
.you-will-be-interested .block .block__header { color: rgb(126, 184, 97); font-size: 20px; font-weight: 400; text-transform: uppercase; }
.you-will-be-interested .block .block__link { color: rgb(27, 27, 27); text-transform: uppercase; }
.m-t-xxl { margin-top: 90px ! important; }
.information-information-9 .links { padding: 0px; text-align: left; }
.information-information-9 .links a { border-bottom: 1px solid; color: rgb(148, 148, 148); font-size: 20px; text-decoration: none; }
.information-information-9 .you-will-be-interested { padding: 0px; text-align: justify; }
.information-information-9 .you-will-be-interested [class*="col-"] { padding-left: 10px; padding-right: 10px; }
.information-information-9 .you-will-be-interested .block .block__header { font-size: 18px; }
@media only screen and (max-width: 1210px) {
}
@media only screen and (max-width: 1210px) {
}
@media only screen and (max-width: 1210px) {
}
@media only screen and (max-width: 1210px) {
}
@media only screen and (max-width: 1210px) {
}
.text-justify { text-align: justify; }
@media only screen and (min-width: 769px) {
}
@media only screen and (max-width: 768px) {
}
@media (max-width: 1199px) {
  h2, .h2 { font-size: 26px; }
}
@media only screen and (max-width: 990px) {
}
@media only screen and (max-width: 768px) {
  .you-will-be-interested .block + .block { margin-top: 30px; }
}
@media only screen and (max-width: 500px) {
  iframe { max-width: 100%; width: 100%; height: 56vw; }
  .btn { text-align: center; padding: 10px 35px; }
}
header .list-inline.ul_dop_menu .dropdown .dropdown-menu { background: rgb(41, 41, 41) none repeat scroll 0% 0%; }
@media (max-width: 768px) {
}
.new_item_catalog { background-repeat: no-repeat; background-position: 16px center; display: block; text-align: left; border-bottom: 1px solid rgb(212, 212, 212); padding-left: 55px; background-size: 30px auto; background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' version='1.1' x='0' y='0' viewBox='0 0 511 511.99938' style='enable-background:new 0 0 512 512' xml:space='preserve' class=''%3E%3Cg%3E%3Cpath xmlns='http://www.w3.org/2000/svg' d='m445.316406 248.242188c-2.714844-4.496094-7.585937-7.242188-12.835937-7.242188-44.296875 0-84.851563 22.769531-107.945313 60h-177.898437c-20.03125 0-38.867188 7.800781-53.03125 21.96875l-88.714844 88.710938c-5.851563 5.855468-5.855469 15.355468 0 21.214843 36.429687 36.425781 74.660156 74.375 75.042969 74.75 5.855468 5.816407 15.304687 5.800781 21.148437-.011719l56.894531-56.632812h125.660157c39.191406 0 74.832031-21.558594 93-56.261719.457031-.871093 45.890625-87.574219 69.117187-131.757812 2.445313-4.652344 2.28125-10.238281-.4375-14.738281zm-95.253906 132.578124c-12.976562 24.785157-38.429688 40.179688-66.425781 40.179688h-131.851563c-3.96875 0-7.773437 1.570312-10.582031 4.367188l-50.714844 50.480468c-11.949219-11.875-32.511719-32.332031-53.773437-53.566406l78.101562-78.101562c8.5-8.5 19.800782-13.179688 31.820313-13.179688h161.796875l-11.511719 21.964844c-2.597656 4.957031-7.6875 8.035156-13.285156 8.035156h-101.851563c-8.285156 0-15 6.714844-15 15s6.714844 15 15 15h101.851563c16.789062 0 32.0625-9.238281 39.859375-24.109375.011718-.027344 23.152344-44.179687 23.152344-44.179687 12.5625-23.765626 34-40.820313 59.042968-47.972657-23.933594 45.59375-55.246094 105.355469-55.628906 106.082031zm0 0' fill='%235fc25d' data-original='%23000000' style='' class=''/%3E%3Cpath xmlns='http://www.w3.org/2000/svg' d='m136.785156 271h180c8.28125 0 15-6.714844 15-15v-181c0-8.285156-6.71875-15-15-15h-45v-15c0-24.8125-20.1875-45-45-45s-45 20.1875-45 45v15h-45c-8.285156 0-15 6.714844-15 15v181c0 8.285156 6.714844 15 15 15zm75-226c0-8.269531 6.726563-15 15-15 8.269532 0 15 6.730469 15 15v15h-30zm-60 45h30v15c0 8.285156 6.714844 15 15 15 8.28125 0 15-6.714844 15-15v-15h30v15c0 8.285156 6.714844 15 15 15 8.28125 0 15-6.714844 15-15v-15h30v151h-150zm0 0' fill='%235fc25d' data-original='%23000000' style='' class=''/%3E%3C/g%3E%3C/svg%3E"); }
.new_item_catalog a { font-size: 18px; font-weight: 500; line-height: 50px; padding: 0px; color: rgb(55, 55, 55); }
@media only screen and (min-width: 768px) {
}
